<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>More details about Davida</h1>
    <p>Here are my social media handles :</p>
    <ul>
        <a href="#"><li>Facebook</li></a>
        <a href="#"><li>Twitter</li></a>
        <a href="#"><li>WhatsApp</li></a>
    </ul>
    <article>
        yeah so that is just my life above there, you can contact 
        me so we keep in touch , always feel free to call. I like to eat 
        pizza too so i am open to pizza dates if you don't mind 😂😂😂 
    </article>
    <section>
        <article>
            I have plenty boyfriends too so feel free to join me in 
            and lets have more fun thank you for your time. 
        </article>
    </section>
    <h1>Thank you !!</h1>
</body>
</html>