<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello Gayheart, How are you today !!!</h1>
    <p>Here are the things Gayheart likes to do :</p>
    <ul>
        <li>Coding </li>
        <li>football</li>
        <li>Games</li>
        <li>Browsing the internet</li>
    </ul>
    <section>
        <article>
            To know more about Gayheart we will leave some of his 
            social handles on the page so you can get in contact with him and 
            know more about him 
        </article>
    </section>
    <h1>Thank You !!</h1>
    <a href="{% url 'index' %}">Home Page</a>
    <a href="{% url 'dave-blog' %}">click to know more about Davida</a>
</body>
</html>