<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Hello world </h1>
    <ul>
        <li>Anime </li>
        <li>eating plenty </li>
        <li>coding alot </li>
    </ul>
    <section>
        <article>
            Hello my name is Davida, i like to do the things 
            i listed above and this is my life. I also have a 
            very big head
        </article>
    </section>
    <h1> thank You !!</h1>
    <a href="{% url 'gayheart-blog' %}">Take me to Gayheart Page</a>
    <a href="{% url 'dave-blog' %}">click to know more about Davida</a>
</body>
</html>